/* ================================================== */
/* ===================== CARDS ====================== */
/* ================================================== */

.card {
    padding: 2rem;
    border-radius: 0.25rem;
    height: 100%;
}

.card__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__body {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    gap: 1.5rem;
}
.card__body p {
  line-height: 26px;
}

.card__icon {
    width: 4rem;
    height: 4rem;
    background: var(--color-bg-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
}




/* ================= CARD MODIFIER ================== */
/* ----------- COLORS ----------- */


.white-card {
    background: var(--color-white);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}



.red-card {
    background: var(--color-active);
    color: var(--color-white);
    box-shadow: 0px 8px 24px rgba(239, 121, 138, 0.4);
}

.red-card h4 {
    color: var(--color-white);
}

.red-card p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}



.gray-card p, .white-card p {
    color: var(--color-secondary);
}

/* --------- FUNCTIONAL --------- */

.col-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon--row-card {
    display: grid;
    grid-template-columns: 64px 1fr;
    /* cgap: 2rem;    */
    column-gap: 2rem;
}

.img--row-card {
    display: flex;
    gap: 2rem;
}


/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */


@media screen and (max-width: 1145px) {

    .icon--row-card {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 950px) {

    .icon--row-card {
        gap: 2rem;
    }
}

@media screen and (max-width: 610px) {

    .icon--row-card {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .img--row-card  {
        flex-direction: column;
        gap: 1rem;
    } 

    .card__img img {
        width: 64px;
        height: 64px;
    }
}
