/* ================================================== */
/* ===================== CARDS ====================== */
/* ================================================== */

.card {
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.card__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__icon {
    width: 4rem;
    height: 4rem;
    background: #FCEBED;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
}

/* .card p {
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    line-height: 1.5625rem;
    color: var(--color-secondary);
} */


/* ================= CARD MODIFIER ================== */
/* ----------- COLORS ----------- */

.gray-card {
    box-shadow: none;
    text-align: center;
    background: var(--color-bg1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-card {
    background: var(--color-active);
    color: var(--color-white);
    box-shadow: 0px 8px 24px rgba(239, 121, 138, 0.4);
}

.red-card h4 {
    color: var(--color-white);
}

.red-card p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.white-card {
    background: var(--color-white);
}

.gray-card p, .white-card p {
    color: var(--color-secondary);
}

/* --------- FUNCTIONAL --------- */

.col-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon--row-card {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 32px;   
}

.img--row-card {
    display: grid;
    grid-template-columns: 136px 1fr;
    gap: 32px;  
}




