
.steps__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.step__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.step__count {
    font-family: var(--ff-secondary);
    font-size: 14px;
    line-height: 24px;
    color: #08375B99;
    text-transform: uppercase;
}

.step__intro {
    font-size: 22px;
    font-weight: 500;
}


.focus {
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.08);
    color: #08375B;
}

.step__answer {
    background-image: url(./../../assets/icons/step-bg.svg);
    background-color: #08375B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--color-white);
    font-size: 32px;
    line-height: 48px;
    padding: 0 32px;
    border-radius: 4px;
    text-align: center;
}


/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */


@media screen and (max-width: 1145px) {

    .step__intro {
        font-size: 18px;
    }

    .step__answer {
        font-size: 26px;
    }
    
}

@media screen and (max-width: 950px) {

    .steps__container {
        grid-template-columns: 1fr;
    }

    .step__answer  {
        padding: 84px 15px;
        text-align: center;
    }
}


@media screen and (max-width: 610px) {
    .steps__container {
        grid-template-columns: 1fr;

    }

    .step__intro{
        font-size: 16px;
        
    }

    .step__answer  {
        padding: 84px 15px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
}





