/* ================================================== */
/* ===================== HEADER ===================== */
/* ================================================== */


header {
    background-image: url("../../assets/icons/bg.svg");
    background-position: center;
    background-size: cover;
}


.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4.75rem;
    height: 100%;
    color: var(--color-white);
    background-color: var(--color-bg)
}

/* .header__container h1 {
    font-size: var(--fs-heading-l);
    font-weight: var(--fw-semiBold);
} */

.header__container p {
    line-height: 30px;
    font-size: 20px;
    border-left: 5px solid var(--color-active);
    padding: 0 28px;
    margin: 24px 0 32px;
}

.header__btn {
    padding: 1.25rem 2rem;
    background: var(--color-white);

    color: var(--color-active);
    font-size: var(--fs-body-s);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    line-height: 18px;
}

@media screen and (max-width: 1380px) {

    .header__right {
        transform: scale(.8);
    }


}


@media screen and (max-width: 940px) {


    .header__container {
        grid-template-columns: 1fr;
        gap: 3.1875rem;
    }


}



@media screen and (max-width: 610px) {


    /* -------------- GLOBAL -------------- */
    

    .header__container h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .header__container p {
        line-height: 24px;
        font-size: 14px;
        border-left: 5px solid var(--color-active);
        padding: 0 0 0 12px;
        margin: 12 0 24px;
    }

    .header__right {
        display: flex;
        justify-content: center;
    }

    .header__right img {
        max-width: 80%;
    }



}