/* NAV */
.services_trigger {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.services_dropdown {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.services_dropdown a {
  color: black;
  font-size: 14px;
}

.services_dropdown a:hover {
  text-decoration: underline;
}

.services_trigger svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav_container {
    position: absolute;
    background: transparent;
    width: 100%;
}

.nav__bar {
    height: 6rem;
    max-width: 1740px;
    padding: 0px 24px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav__list {
    display: flex;
    gap: 3.25rem
}

.toggle-menu {
    display: none;
    
}

.nav__list-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    right:0;
    top: 5rem;
    background: rgb(102, 98, 98);
    padding: 50px;
}

.nav__item {
    color: var(--color-white);
}

.active {
    color: var(--color-active);
}


.drop-menu__wrapper {
    position: relative;
}


.menu-drop {
    border: 5px solid black
}
.mobile_nav_list {
  display: none;
}
.desktop_contact__btn {
      background-color: transparent;
      color: white;
      border-radius: 8px;
      border: 1px solid white;
      padding: 15px 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 12.1px;
      letter-spacing: 5%;
      cursor: pointer;
      height: 40px;
}


/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */

@media (max-width: 900px) {
    .desktop_contact {
      display: none;
    }
    /* .nav__bar {
        padding-top: 0;
    }

    #nav__contact {
        display: none;
    }

    #nav__contact--btn {
        display: block;
    }

    .nav__items {
        max-height: none;
        text-align: center;
    }

    .nav__item {
        display: inline-block;
    }

    .nav__item a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        font-size: var(--fs-body-xxs);
    }
    
    .nav__icon {
        display: none;
    } */

    .toggle-menu {
        display: flex;
    }

    .contact__btn {
        display: none;
    }

    .nav__list {
        display: none;
    }
    .nav__logo {
      position: relative;
      z-index: 101;
    }
    .mobile_nav_list {
      display: block;
    }

    .mobile_menu_btn {
      position: relative;
      z-index: 101;
      background-color: transparent;
      border: none;
    }

    .mobile_menu_btn svg {
      width: 30px;
      height: 30px;
      stroke: white;
      stroke-width: 2px;
    }

    .mobile_menu {
      padding-top: 120px;
      position: fixed;
      inset: 0;
      background-color: #08375B;
      z-index: 100;
      transition: all ease-in 400ms;
      width: 100vw;
    }
    .mobile_link_list {
      width: 80%;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      font-size: 14px;
    }
    .mobile_link_list a {
      padding: 20px 0px;
      border-bottom: 1px solid #ffffff20;
    }
    .service_menu {
      padding: 20px 0px;
      border-bottom: 1px solid #ffffff20;
      transition: all ease-in 300ms ;
    }
    .service_menu_header {
        display: flex;
        justify-content: space-between;
        color: white;
        cursor: pointer;
    }
    .services_sub_menu {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      padding-left: 20px;
      overflow: hidden;
    }
    
    .services_sub_menu a {
        padding: 10px 0px;
        border-bottom: none;
    }
    .mobile_contact {
      width: 100% !important;
    }
    .mobile_contact_btn {
      background-color: transparent;
      color: white;
      border-radius: 8px;
      border: 1px solid white;
      padding: 15px 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 12.1px;
      letter-spacing: 5%;
      cursor: pointer;
      margin-top : 50px;
      height: 40px;
      width: 100%;
  }
}



