.swiper {
    width: 100%;
    height: 100%;
    background: #000;
    /*     border: 3px solid red; */
    display: flex;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6.5rem 8vw;
    /*     border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 2.1rem;
    width: 100%;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.swiper-slide .text p {
    margin: 0;
}


.author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.author h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}


.author span {
    font-size: 14px;
}

.author img {
    width: 65px;
    height: 65px;
    display: flex;
}

.author div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.slider__title {
    margin-top: 4.5rem;
    margin-left: 8vw;
    color: #EF798A;
    font-size: 16px;
    position: absolute;
}

.swiper-button-prev {
    content: url("../assets/slider/slide-arrow.svg");
    transform: scaleX(-1) scale(2);
    left: 86% !important;
    top: 77% !important;
}

.swiper-button-next {
    left: 91% !important;
    top: 77% !important;
    transform-origin: left center;
    content: url("../assets/slider/slide-arrow.svg");
    transform: scale(2);
}

@media screen and (max-width: 1380px) {
    .swiper-button-prev {
        left: 82% !important;
    }

    .swiper-button-next {
        left: 88% !important;
    }
}

@media screen and (max-width: 940px) {
    .swiper-button-prev {
        left: 75% !important;
    }

    .swiper-button-next {
        left: 84% !important;
    }
}

@media screen and (max-width: 610px) {


    .swiper-button-prev {
        left: 10% !important;
        top: 82% !important;
    }

    .swiper-button-next {
        left: 26% !important;
        top: 82% !important;
    }

    .swiper-slide .text {
        font-size: 1.25rem;
        padding-bottom: 2rem;
    }
}