@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

/* 

h1 landing page title
h2 header title
h3 section title
h4 card title
h5 
h6 footer title

*/

:root {
    --ff-main: 'Raleway', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBold: 600;
    --fw-bold: 700;

    --fs-heading-l: 4.5rem;
    --fs-heading-m: 2.625rem;
    --fs-heading-s: 1.375rem;

    --fs-body-xl: 2.125rem;
    --fs-body-l: 1.375rem;
    --fs-body-m: 1.125rem;
    --fs-body-s: 1rem;
    --fs-body-xs: 0.875rem;
    --fs-body-xxs: 0.75rem;

    --lh-heading-l: 4.75rem;
    --lh-heading-m: 3rem;
    --lh-heading-s: 1.625rem;
    /* line height

    heading: 
        - 76px l
        - 48px m
        - 40px s

    body :
        - 47px xxl
        - 40px xl
        - 32px l
        - 30px m
        - 26px s
        - 14px xs
*/

    --color-primary: #08375B;
    /* section heading */
    --color-secondary: #4B4A4A;
    /* section p  #EB6677*/
    --color-danger: #E34657;
    --color-active: #EF798A;
    --color-white: #fff;
    --color-black: #000;

    --color-bg: #08375B;
    --color-bg1: #F5F7F8;
    --color-bg2: #194567;
    --color-bg3: #FFFFFF;
    --color-bg-icon: #FCEBED;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}


/* ================================================== */
/* ===================== GLOBAL ===================== */
/* ================================================== */


body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var(--ff-main);
    width: 100vw;
}

a {
    color: var(--color-white);
}

.container {
    /* padding: 5.5rem 7.5rem; */
    padding: 6.5% 9.5%;
}

h1 {
    font-size: var(--fs-heading-l);
    font-weight: var(--fw-semiBold);
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

h3 {
    font-size: var(--fs-heading-m);
    font-weight: 700;
    color: var(--color-primary);
    line-height: 2.625rem;
}

h4 {
    font-size: var(--fs-heading-s);
    color: var(--color-primary);
    font-weight: var(--fw-bold);
}

h6 {
    font-weight: var(--fw-bold);
    font-size: 14px;
    margin-bottom: 1.5rem;
}


.hightlight {
    color: var(--color-active);
}

.border-none {
    border-left: none;
}


/* -------------- END GLOBAL -------------- */

/* ================================================== */
/* ==================== BUTTONS ===================== */
/* ================================================== */

.btn {
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

.learn-more__btn {
    color: var(--color-active);
    text-decoration: underline;
    font-size: var(--fs-body-xs);
    line-height: 1.5625rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-medium);
    margin-top: 1.5rem;
}

.header__btn {
    padding: 1.25rem 2rem;
    background: var(--color-white);
    color: var(--color-active);
    font-size: var(--fs-body-s);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    line-height: 18px;
    border: none;
}

.action__btn {
    border: none;
    padding: 1.25rem 2rem;
    color: var(--color-white);
    background: var(--color-active);
    font-size: var(--fs-body-s);
    font-weight: var(--fw-bold);
    letter-spacing: 5%;
    line-height: 19px;
}



/* ================================================== */
/* ==================== SECTIONS ==================== */
/* ================================================== */

.section__desc {
    color: var(--color-secondary);
    font-weight: var(--fw-regular);
    line-height: 25px;
    margin: 12px 0 48px;
}

/* ================ SOLUTION SECTION ================ */

.solutions {
    background: var(--color-bg1);
}

.solutions__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.solution p {
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    line-height: 1.5625rem;
    color: var(--color-secondary);
}

/* ================ SEVICES SECTION ================= */

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.service {
    text-align: center;
    background: var(--color-bg1);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .875rem;
}

.solution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */


@media screen and (max-width: 1380px) {
    .solutions__container {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

}

@media screen and (max-width: 940px) {
    .solutions__container {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }

    .services__container {
        grid-template-columns: 1fr;
    }

}


@media screen and (max-width: 710px ){

    .container {
        padding: 4rem 2.5rem;
    } 
    
}

@media screen and (max-width: 610px) {

    .container {
        padding: 4rem 1.875rem;
    }
    .section__title {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }

}
